.Standard{
	width:950px;
	padding:20px;
	display:grid;
	border:;
	grid-template-columns: 1fr;
	grid-template-rows: ;
	grid-template-areas: 
	
	"navro"
	"content"
	"cardlinks"
	"footer";

}

.content {
  grid-area: content;
  width: 100%;
  padding:1em;
}
.slidesho{

  width: auto;
  height: 100%;
  display: flex;
  overflow-x: auto;
}
.show{
	flex-shrink: 0;
	display:grid;
	width:100%;
	height:100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"bText bImage";
}
.bText{
	background-color: #ecf4f9;
	position: relative;
}
.bImage{
	height: 100%;
  	width:100%;
}

/*Slideshow config
*/


.courses{
	display:grid;
	width:7.8em;
	max-height:3.1em;
	grid-template-rows: 1fr;
	grid-auto-columns: repeat(7, 1fr);
	grid-template-areas: 

	"1 2 3 4";

}
.cardlinks{

}
.hLeftLinks{
   height: auto;
   width:100%;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-auto-rows: minmax(10.5em, auto);
   background: #E6F7FB;
   padding:  1.5em;
}
.hLeftLinks > spans {
 	grid-area: spans;
 	display: flex;
  	justify-content: center;
  	align-items: center;
	padding:  1.5em;
	
}
/*.navro{
	grid-area: navro;
	height:50px;
	width: auto;
	grid-row: 3;
	grid-column: 1 / 7;
	background-color: #2774af;
	opacity: 0.6;
	z-index: 0;
	
}*/
.navro{
	grid-area: navro;
	height:2em;
	width: auto;
	grid-row: 3;
	grid-column: 1 / 7;
	background-color: #2774af;
	opacity: 0.6;
	z-index: 0;
	
}
.topBNav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav{
	grid-area:nav;

}

.wideHead{
  width: 100%;
}

.headWide{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 1.5em;
  background-color: #ecf4f9;
  padding-left: .5em;
  /*margin-left: .5em;*/
  font-size: 2em;
  border-radius: .75em;
}

.scrollTopHeader{
	padding-left: .5em;
}