.bigCard{
	width:250px;
	height: auto;
	display: flex;
	padding:.5em;
	flex-direction: column;
	

}
.bigImg{
	height:300px;
	display: inline-block;
	width:100%;
	object-fit: cover;
	/*border:.5px solid red;*/
	margin-bottom: 0em;
	/*padding:.5em;*/
	

}
.bigText{
		font-size: .75em;
		align-self: center;
		margin:0px;
	
}
.bigTag{
	/*margin-top: -3em;*/
	display: inline-block;
	background-color: #1b84bd;
	height: 2em;
	font-size: .75em;
	margin: 0em;
	justify-content: center;
	align-items: center;
	/*align-content: center;*/
	text-align: center;
	border-radius: 0px 0px 10px 10px;
    border:2px solid red; 
    position: relative;
}
.banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.tagText{
	text-align: center;
	margin:0;

}

@media only screen and (max-width: 1024 px){
    .bigCard{
        font-size: .9em;
        grid-gap: 0em;
    }
 }  
@media only screen and (max-width: 980px){
    .bigCard{
        font-size: .7em;
        grid-gap: 0em;
    }
 }
 @media only screen and (max-width: 768px){
    .bigCard{
        font-size: .7em;
        grid-gap: 0em;
    }
 }

 @media only screen and (max-width: 568px){
    .bigCard{
        font-size: .5em;
        grid-gap: 0em;
    }
 }
 @media only screen and (max-width: 500px){
    .bigCardbigCard{
        font-size: .4em;
        grid-gap: 0em;
    }
 }

 @media only screen and (max-width: 422px){
    .bigCard{
        font-size: .3em;
        grid-gap: 0em;
    }
 }
