.container{
	display:grid;
    width:  minmax(12em, 56em);
    height:100%;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    grid-template-areas: 
    " sb sb sb sb"
    " hd hd hd hd"
    " hd hd hd hd";
    background-color: #ffff;
    padding-right: 2em;
    padding-left: 2em;
    /*grid-gap: .5em;*/
    /*grid-gap: 0em;*/
  }
@media only screen and (max-width: 1024 px){
    .container{
        font-size: 1em;
        grid-gap: 0em;
    }
 }  
@media only screen and (max-width: 980px){
    .container{
        font-size: .9em;
        grid-gap: 0em;
    }
 }
 @media only screen and (max-width: 768px){
    .container{
        font-size: .7em;
        grid-gap: 0em;
    }
 }

 @media only screen and (max-width: 568px){
    .container{
        font-size: .5em;
        grid-gap: 0em;
    }
 }
 @media only screen and (max-width: 500px){
    .container{
        font-size: .4em;
        grid-gap: 0em;
    }
 }

 @media only screen and (max-width: 422px){
    .container{
        font-size: .3em;
        grid-gap: 0em;
    }
 }

 
.scrollB{
	grid-area: sb;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(4em, 20.44em);
  /*  grid-template-rows: minmax(4.69em, 20.44em);*/
    margin-top: 2em;
    grid-template-areas: 
    "sText sImage";
    border-radius: 7px;
    border: 4px solid #ffff;
    width: auto;
    height: auto;
}
.sText{
    grid-area: sText;
    width:auto;
    background-color: #E6F7FB;
    padding: .5em;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    width: auto;
    height: auto;
}

.sImage{
    grid-area: sImage;
    width:auto;
    background-color: #E6F7FB;
    overflow:hidden;
    /*border-radius: 7px 0px 0px 7px;
    border: 4px solid #ffff;*/
    /*padding: 20px;*/
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    width: auto;
    height: auto;

}
.imgScroll{
    object-fit: contain;
}
img{
    width:100%;
    height : 100%;
}

.headLinks{
	grid-area: hd;
    display:grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(4, 1fr);
    grid-template-areas: 
    "headLeft headRight"
    "headLeft headRight"
    "headLeft headRight"
    "headLeft headRight";
    grid-column-gap: .5em;
}

.headLeft{
    grid-area: headLeft;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(4.69em , 16.25em) 1fr;
    grid-template-areas: 
    "hLeftBoard"
    "hLeftLinker";
    
    


}

.hLeftBoard{
    grid-area: hLeftBoard;
    background-image: url(./images/standardBG.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: .5em;
    

  
    
}
/*.tHeadL{
    width: 100%;
    height:auto;
}
.tBotL{
    width: 100%;
}*/
.hLeftLinker{
    grid-area:hLeftLinker;
    /*margin-bottom: -2em;*/
    /*border-radius: 0px 0px 10px 10px;
    border:2px solid red;*/
    
}

.headRight{
    grid-area: headRight;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(4.69em , 16.25em) 1fr;
    grid-template-areas: 
    "hRightBoard"
    "hRightLinks";
}

.hRightBoard{
    grid-area: hRightBoard;
    background-image: url(./images/advancedBG.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: .5em;
    
}

.hRightLinks{
  grid-area:  hRightLinks;
  /*margin-bottom: -2em;*/
  /*border-radius: 0px 0px 10px 10px;
  border:2px solid red;*/

}

.cardList{
  display:grid;
  width:auto;
  grid-template-columns: repeat(autofill, minmax(1em, 2em)); 
  grid-auto-rows: minmax(1.25em, auto);
  grid-gap: .5rem;
  grid-row-gap: .5rem;
  padding:  1em;
  align-items: center;
  justify-items:center;
  background: #E6F7FB;  
  margin-top: -3em;
  grid-template-areas: 
   "spans spans spans "
   "spans spans spans ";
   

}