body {
  margin: auto;
  width:auto;
  height: auto;
  max-width: 65em;
  padding: 0 4em;
  background-image: url("./images/tile2.jpg");
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue;
  font-size: 20px;
}
/*max-width: 61.25em;*/