.top{
	font-size: 0px;
}
/*.img-with-text {
    text-align: justify;
    width: 100px;
}*/

.img-with-text img {
    /*display: block;*/
    margin: 0 ;
    width:120px;
    vertical-align:middle;
}
.text{
	font-size: 12px;
	background-color: #f3f6fa;
}