/*.standardTop{
  padding-right: 2em;
  padding-left: 2em;
}*/
.Standard{
	/*max-width:960px;
  margin: 0em 2em 0em 2em;
	padding:1em;*/
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: ;
	grid-template-areas: 
	
	"navro"
	"content"
	"cardlinks";

}
@media only screen and (max-width: 980px){
    .show {
        font-size: .9em;
        grid-gap: 0em;
    }
    .topBNav{
        font-size: .9em;
    }

    .navro{font-size:.7em;}
 }
 @media only screen and (max-width: 768px){
    .show{
        font-size: .7em;
        grid-gap: 0em;
    }
    .topBNav{
        font-size: .7em;
    }
    .navro{font-size:.5em;}
 }

 @media only screen and (max-width: 568px){
    .show{
        font-size: .5em;
        grid-gap: 0em;
    }
    .topBNav .navro{
        font-size: .5em;
    }
    .navro{font-size:.3em;}
 }
 @media only screen and (max-width: 500px){
    .show {
        font-size: .4em;
        grid-gap: 0em;
    }
    .topBNav{
        font-size: .4em;
    }
    .navro{font-size:.3em;}
 }

 @media only screen and (max-width: 422px){
    .show{
        font-size: .3em;
        grid-gap: 0em;
    }
    .topBNav{
        font-size: .3em;
    }
 }

.content {
  grid-area: content;
  width: auto;
  padding-left:2em;
  padding-right:2em;

}
.slidesho{

  width: auto;
  height: 100%;
  display: flex;
  /*overflow-x: auto;
  overflow-y: hidden;
  overflow: auto;*/
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}
.show{
	flex-shrink: 0;
	display:grid;
	width:100%;
	height:auto;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	scroll-snap-align: start;
	grid-template-areas: 
	"bText bImage";
}
.bText{
	background-color: #ecf4f9;
	height: 100%;
  width:100%;
}
.bImage{
	height: 100%;
  width:100%;
}

/*Slideshow config
*/


.courses{
	display:grid;
	width:7.8em;
	max-height:3.1em;
	grid-template-rows: 1fr;
	grid-auto-columns: repeat(7, 1fr);
	grid-template-areas: 

	"1 2 3 4";

}
.cardlinks{

}
/*.hLeftLinks{
   height: auto;
   width:100%;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-auto-rows: minmax(10.5em, auto);
   background: #E6F7FB;
}
.hLeftLinks > spans {
 	grid-area: spans;
 	display: flex;
  justify-content: center;
  align-items: center;
	padding:  .5em;
  grid-column-gap: 1em;
	
}*/

.navro{
	grid-area: navro;
	height:1.5em;
	width: auto;
	grid-row: 3;
	grid-column: 1 / 7;
/*	background-color: #2774af;*/
	/*opacity: 0.6;*/
	z-index: 0;
 /* justify-content: center;
  font-size: .75em;*/
  background-image: linear-gradient(#1f5a9c, #3399cc);
	
}
.topBNav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:0 1em;
}
.nav{
	grid-area:nav;

}
li {
  list-style-type: none;
}
.listhead{
  display:grid;
  width:auto;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: .5em;
  background: #E6F7FB;
  padding:  1.5em;
  grid-template-areas: 
  "items items items items items items items";
}

.items{
  grid-area: items;
  padding:  1.5em;
}

.wideHead{
  width: 100%;
}

.headWide{
  display: flex;
  align-items: flex-start;
  width: auto;
  height: 1.5em;
  background-color: #ecf4f9;
  padding-left: .5em;
  /*margin-left: .5em;*/
  font-size: 2em;
  border-radius: .75em;
}
.scrollButton {
  height: 1.2em;
  width: 3em;  
  margin: 10px 10px 10px 0;
  /*text-align: center;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
    display: inline-block;
    padding: 8px 16px;*/

  
}

.theButtons{
  display: flex;
  justify-content:space-between;
  align-items:  center;
  height: auto;
  /*padding: 2em;*/
}
.rounded-left{
  border-top-left-radius: .50em;
  border-bottom-left-radius: .50em;
  border: 2px solid #ecf4f9;

}
.rounded-right{
  border-top-right-radius: .50em;
  border-bottom-right-radius: .50em;
  border: 2px solid #ecf4f9;
}
.buttonText{
  margin: 0px;
  padding: 0px;
  text-align: center;
}